<% provide(:title, 'Sign in') %>

<div class="container">
<%= form_for(:session, url: sessions_path) do |f| %>

	<div class="form-group">
		<%= f.label :email, class: "label-lg"%>
		<%= f.text_field :email, class: "form-control input-lg", placeholder: "Email"%>
	</div>

	<div class="form-group">
		<%= f.label :password, class: "label-lg" %>
		<%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %>
	</div>

	<div class="form-group">
		<%= f.submit "Sign in", class: "btn btn-lg btn-primary" %>
	</div>
	<div class="form-group">
		<%= link_to "or join bliq", signup_path, class: "btn btn-lg btn-success"%>
	</div>
<% end %>
</div>
