<h1 align="center"><%= "#{@lecture.course.code} #{@lecture.course.name}" %></h1>
<h3 align="center"><%= "#{@lecture.date} #{Date::ABBR_DAYNAMES[@lecture.date.wday]}" %></h3>

<div class="col-md-8 col-md-offset-2">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Student number</th>
				<th>Student name</th>
				<th>Attendance</th>
			</tr>
		</thead>
		<tbody>
			<% User.students.each do |user| %>
				<tr>
					<td><%= user.student_number %></td>
					<td><%= user.name %></td>
					<% if user.attending? @lecture %>
						<td>O</td>
					<% else %>
						<td class="warning">X</td>
					<% end %>
				</tr>
		<% end %>
		</tbody>
	</table>
	<div class="form-group" align="right">
		<%= link_to_function "Back", "history.back()", class: "btn btn-large btn-warning" %>
	</div>
</div>
