<%= provide(:title, 'Sign up') %>

<div class="container">
<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>

	<div class="form-group">
		<%= f.label :student_number, "Student Number", class: "label-lg" %>
		<%= f.text_field :student_number, class: "form-control input-lg", placeholder: "Student number"%>
	</div>

	<div class="form-group">
		<%= f.label :name, class: "label-lg" %>
		<%= f.text_field :name, class: "form-control input-lg", placeholder: "Name"%>
	</div>

	<div class="form-group">
		<%= f.label :email, class: "label-lg" %>
		<%= f.text_field :email, class: "form-control input-lg", placeholder: "Email"%>
	</div>

	<div class="form-group">
		<%= f.label :password, class: "label-lg"%>
		<%= f.password_field :password, class: "form-control input-lg", placeholder: "Password"%>
	</div>

	<div class="form-group">
		<%= f.label :password_confirmation, "Confirmation", class: "label-lg"%>
		<%= f.password_field :password_confirmation, class: "form-control input-lg", placeholder: "Confirmation"%>
	</div>

	<div class="form-group">
		<%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
	</div>
<% end %>
</div>
