<% provide(:title, "Attendances") %>


<% current_user.registered_courses.each do |course| %>
	<%= link_to course, class: "success registered-course" do %>
		<div class="course-container container-fluid">
			<div class="col-xs-1 course-icon">
				  <span class="glyphicon glyphicon-ok"></span>
			</div>
			<div class="col-xs-10">
				<div class="div-course-code">
					<%= course.code %>
				</div>
				<div class="div-course-name">
					<%= course.name %>
				</div>
			</div>
		</div>
		<hr>
	<% end %>
<% end %>

<% current_user.unregistered_courses.each do |course| %>
	<%= link_to registrations_path(course_id: course.id), data:{confirm: "Do you want to register this course?"}, class: "unregistered-course" do %>
		<div class="course-container container-fluid">
			<div class="col-xs-1 course-icon">
				  <span class="glyphicon glyphicon-minus"></span>
			</div>
			<div class="col-xs-10">
				<div class="div-course-code">
					<%= course.code %>
				</div>
				<div class="div-course-name">
					<%= course.name %>
				</div>
			</div>
		</div>
		<hr>
	<% end %>
<% end %>
