<h1 align="center">Course creation</h1>
<div class="container col-md-8 col-md-offset-2">
	<%= form_for @course, :html => {class: "form-horizontal"} do |f| %>
		<h3>Basic information</h3>
		<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control", placeholder: "Course name, Ex) Computer Science Proejct" %>
	</div>
		<div class="form-group">
		<%= f.label :code %>
		<%= f.text_field :code, class: "form-control", placeholder: "Course code, Ex) CS408" %>
	</div>
		<div class="form-group">
		<%= f.label :instructor %>
		<%= f.text_field :instructor, class: "form-control", placeholder: "Instructor, Ex) Dongsoo Han, Hojin Choi, Hyeonseung Yang" %>
	</div>

	<h3>Schedule</h3>
	<%= f.fields_for :schedules do |schedule_fields| %>
		<div class="form-group">
			<div class="col-md-4">
				<%= schedule_fields.label :day %>
				<%= schedule_fields.select :day, DATE, class: "form-control" %>
			</div>
			<div class="col-md-4">
				<%= schedule_fields.label :start_time, "Start time" %>
				<%= schedule_fields.time_select :start_time %>
			</div>
			<div class="col-md-4">
				<%= schedule_fields.label :end_time, "End time" %>
				<%= schedule_fields.time_select :end_time %>
			</div>
		</div>
	<% end %>
	<div class="form-group" align="right">
		<%= f.submit "Create", class: "btn btn-large btn-primary"%>
		<%= link_to_function "Cancel", "history.back()", class: "btn btn-large btn-warning" %>
	</div>
	<% end %>
</div>
