<% provide(:title, "#{@course.code} #{@course.name}") %>
	<div class="course-container container-fluid text-div">
		<div class="col-xs-3">Instructor</div>
		<div class="col-xs-8 content"><%= @course.instructor %></div>
		<div class="col-xs-3">Career</div>
		<div class="col-xs-8 content"><%= CAREER[@course.career] %></div>
		<div class="col-xs-3">Type</div>
		<div class="col-xs-8 content"><%= COURSE_TYPE[@course.course_type] %></div>
		<div class="col-xs-3">Homepage</div>
		<div class="col-xs-8 content"><%= link_to "Link", "http://#{@course.homepage}" %></div>
</div>
<hr>
<% if current_user.admin? %>
	<!--
	<div class="container"><%= link_to "Start attendance check", "#", id: "start-attendance-button", class: "btn btn-primary btn-lg" %></div>
	-->
	<div class="container"><%= link_to "Stop attendance check", "#", id: "start-attendance-button", class: "btn btn-warning btn-lg" %></div>
		<% end %>
		<hr/>
<% if current_user.admin? %>
	<% @course.registering_students.each do |user| %>
		<%= link_to @course.registrations.find_by(user_id: user.id), target: :_top, class: "no-hover" do %>
			<div class="course-container container-fluid success">
				<div class="col-xs-3">
					<%= user.student_number %>
				</div>
				<div class="col-xs-7" style="color:#444444">
					<%= user.name %>
				</div>
				<div class="col-xs-1">
					<% if user.attend_last_lecture? @course %>
						<span class="glyphicon glyphicon-ok glyphicon-success"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove glyphicon-fail"></span>
					<% end %>
				</div>
		</div>
		<hr/>
	<% end %>
	<% end %>
<% else %>
	<% @course.lectures.each do |lecture| %>
		<% if current_user.attending? lecture %>
			<%= "<div class=\"course-container container-fluid success\">".html_safe %>
			<% else %>
				<%= "<div class=\"course-container container-fluid fail\">".html_safe %>
				<% end %>
				<div class="col-xs-10">
					<%= "#{lecture.date} #{Date::ABBR_DAYNAMES[lecture.date.wday]}" %>
				</div>
				<div class="col-xs-2">
					<% if current_user.attending? lecture %>
						<span class="glyphicon glyphicon-ok glyphicon-success"></span>
					<% else %>
						<span class="glyphicon glyphicon-remove glyphicon-fail"></span>
					<% end %>
				</div>
			</div>
			<hr>
		<% end %>
	<% end %>
