<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<%= javascript_tag do %>
		var referer = "<%= @referer %>";
		var url = document.URL;
		var domain = location.protocol + "//" + location.host + "/";
		var signout = "";

		if (url.lastIndexOf(domain + "users/") == 0)
		{
		signout = "<%= signout_path %>";
		}

		var attendance_key = "";
		<% if signed_in? %>
			attendance_key = "<%= current_user.attendance_key %>";
		<% end %>
	<% end %>
	<body>
		<!-- <%= link_to "Sign out", signout_path, method: :get, class: "btn btn-primary" %>-->

		<div class="container">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>" data-dismiss="alert"><%= value %></div>
			<% end %>
		</div>
			<%= yield %>

	</body>
</html>
